@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&display=swap');

body {
    background: url("https://www.vidyard.com/media/tips-for-working-remotely-1920x1080-1.jpg") no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Dela Gothic One', cursive;

}

#main-container {
    background-color: brown;
    opacity:70%;
    margin: 50px 1750px 575px 50px;
    padding: 1rem;
}

@media  (min-width: 295px) {
   #main-container {
       margin: 50px 550px 575px 50px;
   }
}