html {
    background-color:  red;
    font-size: 1rem;
}

body {
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&display=swap')
font-family: 'Alfa Slab One', cursive;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 8em;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    h1 {
        font-size: 6.5rem;
        line-height: 1.2;
    }
}

h3 {
    font-size: 2rem;
}
p {
    font-size: 2rem;
}

#figcaption {
    font-size: 2rem;
}
a {
    font-size: 1.5rem;
    color: #477ca7;
}

a:visited {
    color: #74638f;
}

main {
    margin: 30px 8px;
    padding:15px;
    border-radius: 5px;
    background: #eee;
}

@media ( max-width: 460px) {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#headline {
    margin:5 50px 0;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.25;
}

li {
    margin: 16px 0;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}